@model IEnumerable<LibraryWeb.Models.book>

<h2 class="h2padding">Book Directory</h2>

@{ string myColor = string.Empty; }

<div class="topDiv">
    <fieldset>
        <table class="topTable">
            <tr style="background-color: #FFFACD">
                <th width="20%">
                    Book Name
                </th>
                <th width="10%">
                    Author
                </th>
                <th width="10%">
                    Genre
                </th>
                <th width="10%">
                    Publish Date
                </th>
                <th width="10%">
                    Price
                </th>
                <th width="20%">
                    Description
                </th>
                <th width="10%">
                    Borrowed By
                </th>
                <th width="10%">
                    
                </th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    <tr @item.colorstyle>
                        <td>
                            @item.title
                        </td>
                        <td>
                            @item.author
                        </td>
                        <td>
                            @item.genre
                        </td>
                        <td>
                            @item.publish_date
                        </td>
                        <td>
                            @item.price
                        </td>
                        <td>
                            @item.description
                        </td>
                        <td class="tdTable">
                            @item.user
                        </td>                       
                        <td>
                            @Html.ActionLink(item.baText, "BookAction", new { id = @item.id, isreturn = item.baParam }, new { @class = item.baClass })                            
                        </td>
                    </tr>
                }
            }
        </table>
    </fieldset>
</div>
